body{
	background-color: #FFD700;
	color: black;
	font-family: 'PT Serif', serif;	
	font-size: 16px;


}

h1, h2, h3{
		font-family: 'Lato', sans-serif
}

h1{
	font-size:44px ;
	color: black;
	font-weight: 700;
}

h2{
	font-size: 32px;
	color: black;
	font-weight: 400;

}

h3{
	font-size: 24px;
	color: darkolivegreen;
	font-weight: 300;

}

a{
	text-decoration: none;
	font-family: Lato, sans-serif;
	font-size: 16px;

}

.blue-btn:hover{
	background-color: black;
}


.img-circle	{
	border-radius: 50%;
}


.container {
	width: 700px;
	margin: 0 auto;
}


@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white{
	background-color: #6B8E23;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
}

.blue-btn{
	background-color: #094069;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.list-inline{
	list-style: none;
	padding-left: 0 px;
}

.list-inline li {
	display: inline;
	padding: 10px;	
}

.list-inline i {
	font-size: 100px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black;
}